<footer class="footer m-t-lg m-b-lg p-lg bg-color-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3 col-md-offset-1">
                <h4>OSF</h4>
                <ul>
                    <li><a href="{{siteSettings.osf_domain}}explore/activity/">Explore</a></li>
                    <li style="display: none;"><a href="mailto:contact@osf.io">Contact</a></li>
                    <li id="obfuscatedEmail">
                        <script type="text/javascript">
                            document.getElementById('obfuscatedEmail').innerHTML = eval(atob('IjxuIHVlcnM9XCJ6bnZ5Z2I6cGJhZ25wZ0BiZnMudmJcIiBlcnk9XCJhYnNieXlialwiPlBiYWducGc8L24+Ii5yZXBsYWNlKC9bYS16QS1aXS9nLGZ1bmN0aW9uKGUpe3JldHVybiBTdHJpbmcuZnJvbUNoYXJDb2RlKChlPD0iWiI/OTA6MTIyKT49KGU9ZS5jaGFyQ29kZUF0KDApKzEzKT9lOmUtMjYpfSk='));
                        </script>
                        <noscript>Contact OSF: <span class="obfuscated-email-noscript"><strong><u>cont<span style="display:none;">null</span>act@<span style="display:none;">null</span>osf.<span style="display:none;">null</span>io</u></strong></span></noscript>
                    </li>
                    <li><a href="{{siteSettings.osf_domain}}support">FAQ/Guides</a></li>
                    <li><a href="https://api.osf.io/v2/docs/">API</a></li>
                    <li><a href="https://github.com/CenterForOpenScience/osf.io">Source Code</a></li>
                </ul>
            </div>
            <div class="col-sm-5 col-md-4">
                <h4>Center for Open Science</h4>
                <ul>
                    <li><a href="http://cos.io">Home</a></li>
                    <li><a href="{{siteSettings.osf_domain}}ezcuj/wiki/home/">Reproducibility Project: Psychology</a></li>
                    <li><a href="{{siteSettings.osf_domain}}e81xl/wiki/home/">Reproducibility Project: Cancer Biology</a></li>
                    <li><a href="http://cos.io/top/">TOP Guidelines</a></li>
                     <li><a href="https://www.givinglibrary.org/organizations/center-for-open-science">Donate</a></li>
               </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <h4>Socialize</h4>
                <a href="http://twitter.com/OSFramework" aria-label="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.facebook.com/OpenScienceFramework" aria-label="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://groups.google.com/forum/#!forum/openscienceframework" aria-label="Google Group"><i class="fa fa-group fa-2x"></i></a>
                <a href="https://www.github.com/centerforopenscience" aria-label="GitHub"><i class="fa fa-github fa-2x"></i></a>
                <a href="https://plus.google.com/103557785986281627994" aria-label="Google Plus" rel="publisher"><i class="fa fa-google-plus fa-2x"></i></a>
            </div> <!-- column -->
        </div>
    </div>
</footer><!-- end footer -->

<div class="container copyright">
    <div class="row">
        <div class="col-md-12">
            <p>Copyright &copy; 2011-2016 <a href="http://centerforopenscience.org">Center for Open Science</a> |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">Terms of Use</a> |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/PRIVACY_POLICY.md">Privacy Policy</a>
            </p>
        </div>
    </div>
</div><!-- end container copyright -->
