.bg-color-light {
  background-color: #EEEEEE; }

/* Footer
-------------------------------------------------- */
footer.footer {
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #555;
    line-height: 20px;

    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer.footer *, .copyright * {
    box-sizing: border-box;
}

.copyright p {
    margin: 0 0 10px;
}

footer.footer, .copyright {
    text-decoration: underline;
    a:focus, a:hover {
        color: #23527c;
        text-decoration: underline;
    }
}

footer.footer h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

footer.footer ul, footer.footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer.footer .container {
    margin-left: 127px;
    margin-right: 127px;
}

footer.footer * {
    box-sizing: border-box;
}

/* Footer slide-in */
#footerSlideIn {
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    z-index:9;
    background-color:white;
    border-top:2px solid black;
    display:none;
}

#footerSlideIn h1 {
    margin-top:0;
}

#footerSlideIn img {
    width:100%;
}

#footerSlideIn div > a {
    margin-right: 5px;
    white-space: nowrap;
}


/* Copyright
-------------------------------------------------- */
.copyright{
    text-align: center;
    background: #fff;
    width: 100%;
    line-height: 20px;
}
