body, body input, body button, body select, body textarea {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

section#main {
    padding-top: 0;
}

.wrap {
    padding: 0px 15px;
}

header .title a:after {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    @media (max-width: 767px) {
        content: "OSF";
    }
    @media (min-width: 768px ) {
        content: "Open Science Framework";
    }
    vertical-align: top;
    color: white;
    -webkit-font-smoothing: antialiased;
}

header .title a:hover:after {
    color: #e5e5e5;
}

header {
    margin-bottom: 0;
}

.d-header .title a {
    float: left;
    padding: 12.5px 15px;
    height: 50px;
    box-sizing: border-box;
}

.d-header #site-logo {
    vertical-align: bottom;
    max-height: 27px;
    margin-right: 4px;
}

.d-header .contents {
    margin: 0;
}

body #main {
  padding-top: 54px;
}

header.d-header {
    position: fixed;
    top: 0;

    height: 51px;
    padding-top: 0px;

    background-color: #214762;
    background-image: -webkit-linear-gradient(top, rgba(60, 60, 60, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803c3c3c', endColorstr='#80222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: rgba(8, 8, 8, 0.5);
}

#main-outlet {
    padding-top: 18px;
}

.d-header .icons .icon:hover{
    color: #ccc;
    background-color: #263947;
}

.d-header .icons .icon {
    -webkit-font-smoothing: antialiased;
}

.d-header .icons [class^="fa fa-"] {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 32px;
    display: inline-block;

    padding-left: 4px;
    padding-right: 4px;
}

.unread-private-messages {
    color: #204762;
    background-color: #c7ffc7;
}

.search-menu {
    .menu-panel {
        background-color: #b8ecc0;
    }
}

#current-user img.avatar {
    width: 26px;
    height: 26px;
    margin-top: 2px;
}

#current-user img.avatar a:after {
    font-size: 18px;
    line-height: 25px;

    font-weight: normal;
    content: title;
    vertical-align: middle;
}

.extra-info-wrapper {
    display: none;
}

/* js dropdown navs */
#top-external-nav {
  float: right;
  margin-top: 12px;
  position: right;
  list-style: none;

  li.top-ext--main {
    float: left;
    position: relative;
    margin-right: 10px;
    > a, > a:visited, > a:active {
      display: inline-block;
      padding: 6px 10px;
      font-size: 14px;
      color: #eeeeee;
      &:hover {
        color: #e0ebf3;
      }
    }
  }

  #top-discourse-link a.top-discourse-link-main {
    padding: 6px 10px 20px 10px;
  }

  ul.top-ext--sub {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    margin-left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0, .5);
    list-style: none;

    li.top-ext--sub-item {
      float: none;
      padding: 0;
      margin: 0;
      background-color: white;
      a, a:visited {
        display: inline-block;
        width: 190px;
        padding: 8px 10px;
        span {
          font-size: 14px;
          color: #666;
        }

        img {
          width: 20px;
          margin-right: 6px;
        }
      }

      &:hover {
        background-color: #eef;
      }
    }
  }
}

// For centering of the project header
.project-nav ul {
    margin: 0 auto;
    padding: 0;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 864px) {
        width: 850px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
}

.osf-project-navbar * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.osf-project-navbar {
    background-color: #eee;
    box-shadow: 0 0 9px -1px #838383;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.project-nav > ul > li {
    float: left;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-nav > ul > li > a {
    display: block;

    color: #337ab7;
    font-size: 15px;
    line-height: 20px;

    padding-top: 12px;
    padding-bottom: 12px;

    padding-left: 5px;
    padding-right: 5px;

    @media (min-width: 864px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media (min-width: 992px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.project-nav > ul > li.header-offset {
    min-width: 15px;
    min-height: 1px;
}

.project-nav > ul > li > a.project-parent {
    padding-left: 17px;
    padding-right: 17px;
}

.project-nav > ul > li > a.project-name {
    font-weight: 300;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 220px;
    @media (min-width: 864px) {
        max-width: 240px;
    }
    @media (min-width: 992px) {
        max-width: 330px;
    }
}

.project-nav > ul > li > a.project-forum {
    background-color: #337ab7;
    color: white;
}
.project-nav > ul > li > a.project-forum:hover {
    color: white;
}
.project-nav > ul > li:hover {
    background-color: #e1e1e1;
}
.project-nav > ul > li > a:hover {
    color: #337ab7;
}

/* Mobile support */
@media (max-width: 767px) {
    #main-outlet.has-osf-bar {
        padding-top: 0px;
    }
    .osf-project-navbar {
        margin-top: -3px;
    }
    .project-nav ul {
        margin: 0;
        width: 100%;
    }
    .project-nav ul > li {
        float: none;
    }
    .project-nav ul > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .project-nav ul > li > a.project-name {
        max-width: 100%;
    }
    .project-nav {
        overflow: hidden;
        height: 100%;
        display: none;
    }
}

.navbar-header {
    width: 100%;
    display: table;
}
.navbar-brand {
    float: left;
    padding: 12px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
a.navbar-brand, a.navbar-brand:visited {
    color: #337ab7;
}
a.navbar-brand:hover {
    color: #23527c;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-toggle {
    position: relative;
    float: right;
    margin: 0;
    padding: 12px 15px;
    line-height: 20px;
    font-size: 14px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
}
.navbar-toggle:focus {
    outline: 0;
}
@media (min-width: 768px) {
    .osf-project-navbar {
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 51px;
    }
    #main-outlet.has-osf-bar {
        margin-top: 52px;
        padding-top: 0px;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .project-nav {
        display: block !important; // Ignore the display setting used in mobile mode
    }
}

// These bootstrap styles are necessary for the MFR view to correctly calculate the height of PDFs
.embed-responsive {
    position: relative;
    height: 100%;
}
.embed-responsive iframe {
    position: absolute;
    height: 100%;
}

// Only relevant in Development mode, but annoying enough to hide.
.profiler-results {
    display: none;
}

// Also annoying in development mode
.alert-emails-disabled {
    display: none;
}

// Don't show GUID usernames
span.second.username {
    display: none;
}
